body {
    font-family: sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: sans-serif;
    color: #000000;
}

.botao {
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #191970;
    font-size: .9cm;
    border-radius: 3px
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #191970;
}

nav > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 800;
    font-size: 32px;
    font-family: Yellowtail, serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #FFFFFF;
}

header p {
    color: #FFFFFF;
    margin-bottom: 2cm;
}

#sobre {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #FFFFFF;
}

sobre h2 {
    color: #FFFFFF;
}

#sobre p {
    margin-bottom: 2.5com;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

#formacao {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #FFFFFF;
}

formacao h2 {
    color: #FFFFFF;
}

#formacao p {
    margin-bottom: 2.5com;
    max-width: 1000px;
}

#experiencia {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #191970;
    color: #FFFFFF;
}

experiencia h2 {
    color: #FFFFFF;
}

#experiencia p {
    margin-bottom: 2.5com;
    max-width: 1000px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato img {
    width: 50px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    color: #00FFFF;
}

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    #formacao {
        height: 250px;
        height: 30vh;
        justify-content: center;
    }

    #experiencia {
        height: 250px;
        height: 30vh;
        justify-content: center;
    }

    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto; 
    }

    #contato h2, #contato p {
        width: 100%;
    }


}